
.masthead-hallbarhet {
  width: 100%;
  height: 810px;
  color: white;
  background-image: url("https://www2.hm.com/content/dam/sustainability-site/startpage/9501-CPD-01_16x9-sustainability-destination.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
  h1{
    font-size: 88px;
    font-weight: bolder;
  }
}

.left-nav.nav-hallbarhet {
  width: 250px;

  ul {
    width: 210px;
  }
}


.hallbarhet {
  display: flex;
  gap: 20px;

  i {
    font-size: 22px;
  }
}

.hallbarhet-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .article-img {
    width: 1030px;
    height: 579px;
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/the-latest/november-2022/2016/2016-16x9-a-metaverse-design-story.jpg]&scale=size[1200]&sink=format[jpeg],quality[80]");
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
  }

  .white-box {
    width: 552px;
    height: 128px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 500px;
    left: 15px;

    .top {display: flex; width: 100%; justify-content: space-between;}
    h2 {
      font-size: 20px;
      margin-bottom: 8px;
    }
    p {font-family: 'Times New Roman', Times, serif; }
  }

  

  .banner {
    width: 1030px;
    height: 200px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    h2 {font-size: 28px;}
    p{font-family: 'Times New Roman', Times, serif;}
  }
}

.article-trio-1 {
  width: 1030px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .wrapper {
    width: 322px;
    height: 450px;
  }
  
  .img {
    width: 322px;
    height: 402px;
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-change/9501-CPD-02_4x5-lets-change.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
    background-size: cover;
  }

  .img.nr2 {
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-close-the-loop/9501-CPD-03_4x5-lets-close-the-loop.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
  }

  .img.nr3 {
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-innovate/9501-CPD-04_4x5-lets-innovate.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
  }

  .white-box {
    width: 290px;
    top: 320px;
    
  }

  .img.trio-2 {
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-be-fair/9501-CPD-05_4x5-lets-be-fair.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
  }
  .img.trio-2.nr2 {
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-be-for-all/9501-CPD-06_4x5-lets-be-for-all.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
  }
  .img.trio-2.nr3 {
    background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-be-transparent/9501-CPD-07_4x5-lets-be-transparent.jpg]&scale=size[456]&sink=format[jpeg],quality[80]");
  }
}

.article-img.article-2 {
  background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/the-latest/september-2022/7055e-meet-the-maker/7055E-sustainability-16x9-sneh-social-initiative.jpg]&scale=size[1200]&sink=format[jpeg],quality[80]");
}

.article-img.article-3 {
  background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/sustainability-site/lets-clean-up/9501-CPD-08_16x9-lets-clean-up.jpg]&scale=size[1200]&sink=format[jpeg],quality[80]");
}

.banner.nr2 {
  background-color: rgb(255, 255, 255);
  color: #222
}
