@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//  *{
//    background-color: brown;
//  }

header{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  svg{
    height: 22px;
    width: 23px
  }

  height: 133px;
  margin-top: 1.5rem;
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  nav{
    ul li{  
      list-style-type: none;
   }
   
   .top-menu{
    @include flex(row, space-between, center);
    // position: relative;
    
    .sidnavigering{
      
      
      .sid-nav-lankar{
        @include flex(row, space-between, center);

        margin-left: 1rem;

        .kundservice, .nyhetsbrev, .hitta-butik, .punktpunkt{
          font-size: 13px;
          white-space: nowrap;
          padding: 3% 6%;
          
          
        }
        .punktpunkt{
          @include flex(row, center, center);
          
        }
      }
    }
    .logo-container{
      position: absolute;
      margin-left: 48%;
      img{
        height: 40px;
        width: 60px;
    } 

    }
    

    
    
    .varukorg-lankar{
      font-size: 13px;
      @include flex(row, space-between, center);
      
      
      .login, .favorites, .shoppingbag{
        @include flex(row, space-between, center);
        
        margin-right: 1rem;
        padding: 0.6rem;
        white-space: nowrap;
      }

      .login-text, .favoriter-text, .shoppingbag-text{
        padding: 8%;
      }
    }
  }

  .bot-menu{
    p{
      font-size: 13px;
    }
    h3{
      font-size: 13px;
      font-weight: bold;
    }
    white-space: nowrap;
    margin-top: 2rem; 
    font-size: 16px;
    @include flex(row, space-between, center);

    .produkt-kategori-styling{
      background-color: white;
       width: 936px;
       text-align: center;
      //  border: 2px solid;
      margin-left: 230px
      
     }
    

    .produkt-kategorier{
      @include flex(row, center, center);
      
     

      // text-align: start;

      .dam, .herr, .divided, .baby, .barn, .home, .beauty, .sport, .brands, .hallbarhet{
        padding: 0 16px;
        // background-color: blue;
        position: relative;
      }

      .dropdown-content-dam{
          display: none;
          position: absolute;
          margin-left: -390px;
          background-color: #f9f9f9;
          width: 100vw;
          // min-width: 160px;
          // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          // padding: 12px 16px;
          z-index: 1;
          // width: 1440px;
          // width: 100%;
          // height: 100%;
        }
        .dam:hover .dropdown-content-dam{
          @include flex(row, center, center);
          // background: gray;
          // background-color: red;

          h3:first-of-type{
            margin-top: 25px;
          }

          h3,p{
            padding: 0.3rem 0;
            margin-left: 350px;
          }

          .dam-left-dropown-content{
            @include flex(column, start, start);
            // border: 2px solid;
          }
          .dam-mid-dropown-content, .dam-right-dropown-content{
            @include flex(column, flex-end, start);
            // border: 2px solid;
          }




          
        } 
        
    }

    .seach-input{
      width: 184px;
      height: 33px;
      margin-right: 2.5rem;
     .produkt-text-input{
        padding: 10px;
      }
      #search{
        @include flex(row, start, center);
        border: none;
        border-bottom: solid 1px;
        background: white;
        width: 100%;
        text-align: start;

      }

    }


  }
  }
}