@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/dam";
@import "partials/herr";
@import "partials/divided";
@import "partials/baby";
@import "partials/barn";
@import "partials/home";
@import "partials/beauty";
@import "partials/sport";
@import "partials/brands";
@import "partials/hallbarhet";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  a{
    color: black;
  }
}

body {
  background-color: #faf9f8;
}