header {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 133px;
  margin-top: 1.5rem;
}
header svg {
  height: 22px;
  width: 23px;
}
header .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
header nav ul li {
  list-style-type: none;
}
header nav .top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .top-menu .sidnavigering svg {
  height: 22px;
  width: 23px;
}
header nav .top-menu .sidnavigering .sid-nav-lankar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
header nav .top-menu .sidnavigering .sid-nav-lankar .kundservice, header nav .top-menu .sidnavigering .sid-nav-lankar .nyhetsbrev, header nav .top-menu .sidnavigering .sid-nav-lankar .hitta-butik, header nav .top-menu .sidnavigering .sid-nav-lankar .punktpunkt {
  font-size: 13px;
  white-space: nowrap;
  padding: 3% 6%;
}
header nav .top-menu .sidnavigering .sid-nav-lankar .punktpunkt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .top-menu img {
  height: 40px;
  width: 60px;
}
header nav .top-menu .varukorg-lankar {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .top-menu .varukorg-lankar .login, header nav .top-menu .varukorg-lankar .favorites, header nav .top-menu .varukorg-lankar .shoppingbag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  padding: 0.6rem;
  white-space: nowrap;
}
header nav .top-menu .varukorg-lankar .login-text, header nav .top-menu .varukorg-lankar .favoriter-text, header nav .top-menu .varukorg-lankar .shoppingbag-text {
  padding: 8%;
}
header nav .bot-menu {
  white-space: nowrap;
  margin-top: 2rem;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .bot-menu .produkt-kategori-styling {
  background-color: white;
  width: 936px;
  text-align: center;
}
header nav .bot-menu .produkt-kategorier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .bot-menu .produkt-kategorier .dam, header nav .bot-menu .produkt-kategorier .herr, header nav .bot-menu .produkt-kategorier .divided, header nav .bot-menu .produkt-kategorier .baby, header nav .bot-menu .produkt-kategorier .barn, header nav .bot-menu .produkt-kategorier .home, header nav .bot-menu .produkt-kategorier .beauty, header nav .bot-menu .produkt-kategorier .sport, header nav .bot-menu .produkt-kategorier .brands, header nav .bot-menu .produkt-kategorier .hallbarhet {
  padding: 0 16px;
}
header nav .bot-menu .seach-input {
  width: 184px;
  height: 33px;
  margin-right: 2.5rem;
}
header nav .bot-menu .seach-input .produkt-text-input {
  padding: 10px;
}
header nav .bot-menu .seach-input #search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: none;
  border-bottom: solid 1px;
  background: white;
  width: 100%;
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */