header {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  white-space: nowrap;
}
header svg {
  height: 22px;
  width: 23px;
}
header img {
  height: 40px;
  width: 60px;
}
header nav ul li {
  list-style-type: none;
}
header nav .top-menu {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 68px;
}
header nav .top-menu ul li {
  font-size: 0.8125rem;
}
header nav .top-menu .sidnavigering {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
header nav .top-menu .sidnavigering .sid-nav-lankar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 32px;
}
header nav .top-menu .sidnavigering .sid-nav-lankar .nyhetsbrev, header nav .top-menu .sidnavigering .sid-nav-lankar .hitta-butik, header nav .top-menu .sidnavigering .sid-nav-lankar .punktpunkt {
  margin-left: 22px;
}
header nav .top-menu .sidnavigering .sid-nav-lankar .punktpunkt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .top-menu .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
header nav .top-menu .varukorg {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
header nav .top-menu .varukorg .varukorg-lankar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 32px;
}
header nav .top-menu .varukorg .varukorg-lankar .login, header nav .top-menu .varukorg .varukorg-lankar .favorites, header nav .top-menu .varukorg .varukorg-lankar .shoppingbag {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
header nav .top-menu .varukorg .varukorg-lankar .login svg, header nav .top-menu .varukorg .varukorg-lankar .favorites svg, header nav .top-menu .varukorg .varukorg-lankar .shoppingbag svg {
  margin-right: 10px;
}
header nav .top-menu .varukorg .varukorg-lankar .login, header nav .top-menu .varukorg .varukorg-lankar .favorites {
  margin-right: 22px;
}
header nav .bot-menu {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: 40px;
}
header nav .bot-menu ul li {
  font-size: 1rem;
}
header nav .bot-menu svg {
  height: 24px;
  width: 24px;
}
header nav .bot-menu p {
  font-size: 13px;
}
header nav .bot-menu h3 {
  font-size: 13px;
  font-weight: bold;
}
header nav .bot-menu .produkt-kategori-styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .brands, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet {
  padding: 0 20px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam .hidden {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover span {
  border-bottom: solid 1px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden {
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 1;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-left .christmas, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-left .party, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-left .gifts {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-mid {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-mid p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-right .second-hand, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-right .hallbarhet-dropdown, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .dam-dropdown-content-right .magazine-dropdown {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .dam:hover .hidden .dam-dropdown-content .tom {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr .hidden-herr {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-left .herr-essentials, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-left .winter-lookbook, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-left .herr-trendigt {
  margin-top: 35px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-right .herr-second-hand, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-right .herr-hallbarhet-dropdown, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-dropdown-content-right .herr-magazine-dropdown {
  margin-top: 35px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .herr:hover .hidden-herr .herr-dropdown-content .herr-tom {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided .hidden-divided {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-left .divided-trend {
  margin-top: 35px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-right .divided-hallbarhet, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-mid-right .divided-gifts {
  margin-top: 35px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .divided:hover .hidden-divided .divided-dropdown-content .divided-tom {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby .hidden-baby {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-left .hmbaby, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-left .baby-populart, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-left .baby-gifts {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-left .baby-flicka {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-mid-right .baby-produkter {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-right .baby-secondhand, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .baby:hover .hidden-baby .baby-dropdown-content .baby-dropdown-content-right .baby-hallbarhet {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn .hidden-barn {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left .hmbarn, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left .barn-populart, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left .barn-gifts, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-left .barn-flicka2-8 {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-left .barn-flicka9-14 {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-right .barn-produkter, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-right .barn-leksaker, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-mid-right .barn-kroppsvard {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-right .barn-varumarken, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-right .barn-secondhand, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .barn:hover .hidden-barn .barn-dropdown-content .barn-dropdown-content-right .barn-hallbarhet {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home .hidden-home {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-left .home-rum, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-left .home-trend {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-right .home-koncept, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .home:hover .hidden-home .home-dropdown-content .home-dropdown-content-right .home-hallbarhet {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty .hidden-beauty {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-left .beauty-populart, header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-left .beauty-gifts {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .beauty:hover .hidden-beauty .beauty-dropdown-content .beauty-dropdown-content-right .beauty-secondhand {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport .hidden-sport {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-left .sport-barn {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-mid-right .sport-secondhand {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-right {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-right p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .sport:hover .hidden-sport .sport-dropdown-content .sport-dropdown-content-right .sport-gifts {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .brands:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet .hidden-hallbarhet {
  display: none;
  position: absolute;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover span {
  border-bottom: 1px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet {
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vh;
  border-bottom: 7px solid;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content .hallbarhet-dropdown-content-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content .hallbarhet-dropdown-content-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content .hallbarhet-dropdown-content-mid-left {
  margin-top: 30px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content .hallbarhet-dropdown-content-mid-left p {
  padding-top: 6px;
}
header nav .bot-menu .produkt-kategori-styling .produkt-kategorier .hallbarhet:hover .hidden-hallbarhet .hallbarhet-dropdown-content .hallbarhet-dropdown-content-mid-left .hallbarhet-engagemang {
  margin-top: 30px;
}
header nav .bot-menu .search-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
header nav .bot-menu .search-position .seach-input {
  width: 184px;
  height: 33px;
}
header nav .bot-menu .search-position .seach-input #search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: none;
  border-bottom: solid 1px;
  background: white;
  width: 100%;
  text-align: start;
}
header nav .bot-menu .search-position .seach-input #search .produkt-text-input {
  font-size: 0.8125rem;
  padding: 8px 8px 8px 8px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.frakt {
  padding: 2rem;
}

.campaign-teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 640px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.35) 100%), url(./images/campaigndress.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.campaign-teaser img {
  margin-top: 3rem;
  width: 90%;
}
.campaign-teaser .campaign-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.campaign-teaser .campaign-link {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  text-decoration: none;
  color: #000;
}
.campaign-teaser .campaign-link:hover {
  background-color: #d5d5d5;
}
.campaign-teaser #draped-dress {
  position: relative;
  top: 150px;
  right: 150px;
  padding: 1rem;
  text-decoration: none;
  background-color: #222;
  color: #fff;
  line-height: 1.25;
  border-radius: 2px;
}

.weekend-deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 100%;
  background-image: url(./images/weekend-deal.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  color: #222;
}
.weekend-deal #weekend-heading {
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-size: 24px;
}
.weekend-deal #weekend-limited {
  font-size: 0.688rem;
  line-height: 1.45;
}
.weekend-deal #shoppanu {
  margin-top: 16px;
  padding: 8px;
  border: 1px solid;
  text-decoration: none;
  color: #222;
}
.weekend-deal #shoppanu:hover {
  text-decoration: underline;
}

.pop-container {
  width: 960px;
}
.pop-container h3 {
  margin-bottom: 2rem;
}

#finnsnu {
  margin-bottom: 1rem;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.slide-item {
  text-align: center;
  height: 200px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
.slide-item img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
.slide-item .img-round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #bf836f;
  margin: auto;
  color: #fff;
}
.slide-item .img-round p {
  font-size: 22px;
}
.slide-item .slide-category {
  margin-top: 0.5rem;
  color: #707070;
}
.slide-item .img-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 0;
  background-color: #bf836f;
  margin: auto;
  color: #fff;
}
.slide-item .img-square p {
  font-size: 22px;
}

body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
body ::-webkit-scrollbar-track {
  background: #ffffff;
}
body ::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184);
}

.stilinspiration {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.stilinspiration h3 {
  width: 960px;
}
.stilinspiration .container {
  width: 960px;
  height: 552px;
  display: flex;
  gap: 22px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.stilinspiration .insp-img {
  border-radius: 0;
  width: 304px;
  height: 488px;
}
.stilinspiration .slide-item {
  width: 304px;
  height: 516px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.stilinspiration .slide-item p {
  text-align: left;
  margin-top: 8px;
}

.styleboards {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.styleboards .heading {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.styleboards .heading h3 {
  font-size: 20px;
}
.styleboards .visa-alla {
  display: flex;
  align-items: center;
  gap: 10px;
}
.styleboards .visa-alla p {
  font-size: 13px;
}
.styleboards .visa-alla i {
  font-size: 24px;
}
.styleboards .container {
  width: 960px;
  height: 305px;
  display: flex;
  justify-content: space-between;
  gap: 22px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.styleboards .container .slide-item {
  width: 304px;
  height: 281px;
}
.styleboards .container .slide-item .img {
  width: 304px;
  height: 225px;
  background-color: rgb(255, 255, 255);
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: -4px;
  border-radius: 0;
}
.styleboards .container .img-desc {
  width: 304px;
  height: 56px;
  background-color: white;
  display: flex;
}
.styleboards .container .logo {
  width: 40px;
  height: 40px;
  background-color: grey;
  margin-left: 7px;
  border-radius: 50%;
}
.styleboards .container .logo-desc {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  font-size: 14px;
}
.styleboards .container .logo-desc i {
  font-size: 24px;
}
.styleboards .container .logo-desc p:first-of-type {
  font-weight: bold;
  font-size: 16px111;
}
.styleboards .container .text {
  text-align: left;
}

.mysiga-stunder {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-weight: bold;
}
.mysiga-stunder .image {
  width: 960px;
  height: 640px;
  background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/home_s06/november_2022/7106b/7106B-3x2-modern-holiday-decorations.jpg]&scale=size[960]&sink=format[jpeg],quality[80]");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}
.mysiga-stunder .image h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.mysiga-stunder .image p {
  font-size: 13px;
  margin-bottom: 8px;
}
.mysiga-stunder .image button {
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  outline: none;
  background-color: white;
  border: none;
  margin: 16px;
}
.mysiga-stunder .image button:hover {
  background-color: rgb(233, 233, 233);
}

.perfekta-gavan {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.perfekta-gavan .banner {
  width: 960px;
  height: 146px;
  background-image: url("https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/hm/regional-local-activities/ame/background1/6195-w39-3x1.jpg]&scale=size[960]&sink=format[jpeg],quality[80]");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bold;
}
.perfekta-gavan .banner h2 {
  font-size: 28px;
  margin-top: 22px;
}
.perfekta-gavan .banner p {
  margin-top: 4px;
  font-size: 11px;
}
.perfekta-gavan .banner button {
  margin-top: 16px;
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  outline: none;
  background-color: white;
}
.perfekta-gavan .banner button:hover {
  background-color: rgb(233, 233, 233);
}

.puss-in-boots {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.puss-in-boots .puss-in-boots-container {
  display: flex;
}
.puss-in-boots .puss-in-boots-container img {
  width: 480px;
  height: 720px;
}
.puss-in-boots .ad-desc {
  width: 480px;
  height: 720px;
  background-color: #f1ebdf;
  color: #e50010;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.puss-in-boots .ad-desc .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 10px;
}
.puss-in-boots .ad-desc .top img {
  width: auto;
  height: 24px;
}
.puss-in-boots .ad-desc .middle {
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.puss-in-boots .ad-desc .bottom {
  color: black;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.puss-in-boots .ad-desc .bottom .buttons {
  margin-bottom: 15px;
}
.puss-in-boots .ad-desc .bottom .buttons button {
  padding: 7px;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
  outline: none;
}
.puss-in-boots .ad-desc .bottom .buttons button:hover {
  text-decoration: underline;
}

.magazine {
  width: 100%;
  height: 678.53px;
  background-color: #f4eddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.magazine-container {
  width: 1008px;
  text-align: center;
}

.heading {
  font-size: 42px;
  margin-bottom: 5px;
}

.subheading {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 10px;
}

.magazine-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.magazine-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.magazine-article {
  width: 320px;
  height: 377px;
  background-color: white;
}
.magazine-article img {
  width: 320px;
}
.magazine-article .img-div {
  margin-top: 20px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.magazine-article .magazine-flex {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.magazine-article .article-heading {
  font-weight: bold;
  width: 260px;
}

.read-the-story {
  display: flex;
  gap: 10px;
}

footer {
  background-color: #e4e4e4;
  height: 679px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lists {
  padding-top: 52px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 90px;
}

.lists ul {
  font-size: 13px;
}

.uppercase {
  text-transform: uppercase;
}

.lists ul li {
  padding: 9px;
  list-style: none;
}

.lists ul li:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.list {
  width: 220px;
}
.list p:not(.list-rubrik) {
  margin-bottom: 75px;
}

.list-rubrik {
  font-weight: bold;
  padding-bottom: 27px;
}

.readMore {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.some {
  font-size: 18px;
}
.some i {
  margin: 18px;
}

.copyright {
  width: 675px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.logo img {
  height: 24px;
}

.country {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */